SearchListOptimizing/Service References/MicroServiceProxy/ILMicroService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://scb.se/micro/contract/Client/2015/11" elementFormDefault="qualified" targetNamespace="http://scb.se/micro/contract/Client/2015/11" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/IL.Service.WebHost/ILMicroService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="SurveyNote">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Imported" type="xs:boolean" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SCBId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SurveyId" type="ser:guid" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SurveyNote" nillable="true" type="tns:SurveyNote" />
  <xs:complexType name="ArrayOfSurveyNote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SurveyNote" nillable="true" type="tns:SurveyNote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSurveyNote" nillable="true" type="tns:ArrayOfSurveyNote" />
</xs:schema>