SearchListOptimizing/Service References/MicroServiceProxy/ILMicroService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://scb.se/il/contract/Client/2012/09" elementFormDefault="qualified" targetNamespace="http://scb.se/il/contract/Client/2012/09" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/IL.Service.WebHost/ILMicroService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfSearchListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchListItem" nillable="true" type="tns:SearchListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearchListItem" nillable="true" type="tns:ArrayOfSearchListItem" />
  <xs:complexType name="SearchListItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalStatus" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MemberInGroup" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScbId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchVariables" nillable="true" type="tns:ArrayOfSearchVariable" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchListItem" nillable="true" type="tns:SearchListItem" />
  <xs:complexType name="ArrayOfSearchVariable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchVariable" nillable="true" type="tns:SearchVariable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearchVariable" nillable="true" type="tns:ArrayOfSearchVariable" />
  <xs:complexType name="SearchVariable">
    <xs:sequence>
      <xs:element minOccurs="0" name="IntValue" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchVariable" nillable="true" type="tns:SearchVariable" />
</xs:schema>