SearchListOptimizing/Service References/MicroServiceProxy/ILMicroService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://scb.se/ide/datacontract/2011/12" elementFormDefault="qualified" targetNamespace="http://scb.se/ide/datacontract/2011/12" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ErrorDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptionInformation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorDetail" nillable="true" type="tns:ErrorDetail" />
</xs:schema>